@import './reset.css';
@import './variables.css';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: #fff;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  width: 100%;
}

.responsive {
  padding: 0 15px;
}