.travelComfortWrapper {
  height: 573px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.travelComfortLeftColumn {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.paymentWaysList {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.webApplication {
  position: absolute;
  top: 150px;
  right: 0;
}