.travelComfortWrapper {
  height: 573px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.travelComfortLeftColumn {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.paymentWaysList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
}

.webApplication {
  position: absolute;
  top: 150px;
  right: 0;
}

.smallWebApplication {
  display: none;
}

.mobileSubtitleBr {
  display: none;
}

@media screen and (min-width: 1441px) {
  .travelComfortWrapper {
    position: relative;
  }

  .webApplication {
    top: 0;
    right: -122px;
  }
}

@media screen and (min-width: 1032px) and (max-width: 1312px) {
  .webApplication {
    width: 43%;
    top: 20%;
  }
}   


/* RESPONSIVE */
@media screen and (max-width: 1031px) {
  .travelComfortWrapper {
    position: relative;
    height: 264px;
    margin-top: 8px;
    align-items: flex-start;
    overflow-x: hidden;
  }

  .travelComfortLeftColumn {
    row-gap: 14px;
    max-width: 170px;
    margin-top: 27px;
  }

  .paymentWaysList {
    gap: 8px;
    max-width: 113px;
  }

  .webApplication {
    display: none;
  }

  .smallWebApplication {
    display: inline-block;
    position: absolute;
    top: 26px;
    right: -160px;
  }

  .travelComfortOverflowWrapper {
    overflow: hidden;
  }

  .mobileSubtitleBr {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .travelComfortWrapper {
    overflow-x: visible;
  }

  .smallWebApplication {
    right: -216px;
    min-width: 390px;
    top: 13px;
  }
}