.header {
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 2;
  background-color: #fff;
  padding-top: 40px;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLinksList {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.headerLinkItem {
  font-size: var(--navigation-link-font-size);
  color: var(--text-color);
  font-weight: 600;
  line-height: 1.4;
  transition: color .2s ease;
  cursor: pointer;
}

.headerLinkItem:hover {
  color: var(--text-color-hover);
}

/* RESPONSIVE */

@media screen and (max-width: 480px) {
  .header {
    padding-top: 15px;
  }

  .headerContent {
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 10px;
    height: auto;
  }

  .headerLogo {
    flex: 1;
  }

  .headerLogo img {
    width: 51px;
    height: 40px;
  }

  .headerLinksList {
    column-gap: 0;
    order: 3;
    border-top: 1px solid #D9D9D9;
    padding-top: 10px;
    width: 100%;
    justify-content: space-between;
  }

  .headerLinkItem {
  }
}