.financeRhythmWrapper {
  margin-top: 140px;
}

.financeRhythmCards {
  display: flex;
  column-gap: 20px;
}

.payQrCodeCardTitle {
  white-space: pre;
}

.sliderWrapper .financeRhythmSliderWrapper {
  display: none;
  padding: 0 15px;
}

@media screen and (max-width: 1031px) {
  .sliderWrapper {
    max-width: 500px;
    margin: 0 auto;
  }

  .sliderWrapper .financeRhythmSliderWrapper {
    display: block;
    height: 313px;
  }
  
  .financeRhythmCards {
    display: none;
  }

  .financeCardSlider {
    padding: 0;
    min-width: 150px;
    height: 287px;
    overflow: hidden;
  }

  .financeCardSliderHeading {
    padding: 14px 14px 0 14px;
  }

  .financeCardSliderSubtitle {
    padding: 0 14px 0 14px;
    margin-bottom: 19px;
  }

  .financeCardImg {
    width: 128px;
    height: 195px;
    margin: 0 12px;
  }
}