.swiper {
  display: none;
  padding: 0 15px;
}

.swiper .swiper-pagination {
  bottom: -6px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #83ABFC;
}

.swiper-pagination-bullet-active {
  background-color: #3D74E3;
}
