.title {
  color: var(--title-color);
  font-size: var(--title-font-size);
  line-height: 1.2;
  font-weight: 600;
}

.title28 {
  color: var(--title-color);
  font-size: var(--title-28-font-size);
  line-height: 1.2;
  font-weight: 600;
  white-space: pre-line;
}

.title24 {
  color: var(--title-color);
  font-size: var(--title-24-font-size);
  line-height: 1.2;
  font-weight: 600;
}