.subscriptionContent {
  display: flex;
  column-gap: 20px;
}

.subscriptionImageCard {
  width: calc(50% - 10px);
} 

@media screen and (max-width: 1031px) {
  .subscriptionContent {
    column-gap: 9px;
  } 

  .subscriptionImageCard {
    width: calc(50% - 4px);
    overflow: hidden;
  }

  .subscriptionImage {
    height: 128px;
  }

  .subscriptionSubtitle {
    margin-bottom: 14px;
  }
}