.eSimFeaturesWrapper {
  margin-top: 140px;
}

.eSimFeaturesHeading {
  text-align: center;
}

.eSimFeaturesSubtitle {
  margin-top: 20px;
  margin-bottom: 60px;
}

.eSimFeaturesTopListCards {
  display: flex;
  column-gap: 20px;
  margin-bottom: 20px;
}

.eSimFeaturesTopCard {
  height: 384px;
  padding: 0;
}

.eSimFeaturesCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  height: 658px;
}

.eSimFeaturesCardHeading {
  padding: 30px 30px 0 30px;
}

.eSimFeaturesCard4 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  height: 658px;
}

.eSimFeaturesCard5 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  height: 658px;
}

.eSimFeaturesCard6 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  padding: 0;
  height: 368px;
  overflow: hidden;
}

.eSimFeaturesCard7 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  height: 270px;
}

/* Изображения */
.eSimFeaturesImagesWrapper {
  margin-top: 30px;
  padding: 0 18px;
}

.eSimFeaturesImagesCountries {
  height: 260px;
}

.eSimFeaturesImagesTraficc {
  margin-top: 48px;
  height: 206px;
}

.eSimFeaturesSwiper {
  display: none;
}

@media screen and (max-width: 480px) {
  .eSimFeaturesTopListCards {
    display: none;
  }

  .eSimFeaturesSwiper {
    display: block;
    height: 184px;
    margin-bottom: 20px;
  }

  .eSimFeaturesCards {
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 9px;
  }

  .eSimFeaturesCard4 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: auto;
  }

  .eSimFeaturesCard5 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: auto;
  }

  .eSimFeaturesCard6 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 152px;
  }

  .eSimFeaturesCard7 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 152px;
  }

  /* Slider */
  .eSimFeaturesTopCard {
    border-radius: 8px;
    height: 158px;
    overflow:  hidden;
  }
  
  .eSimFeaturesCardHeading {
    padding: 14px 14px 0 14px;
  }

  .eSimFeaturesImagesWrapper {
    margin-top: 12px;
    padding: 0 4px;
  }

  .eSimFeaturesImagesCountries {
    height: 106px;
  }

  .eSimFeaturesImagesTraficc {
    height: 85px;
    margin-top: 16px;
  }
}